#header {
    background: rgb(184, 182, 182);
}

#titulo {
    display: inline-block;
    background: rgb(184, 182, 182);
}

#listado {
    display: inline-block;
    background: rgb(184, 182, 182);
}